<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../../favicon.ico" rel="icon">

    <title>SVR</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
   
    <style type="text/css">
      .clear { /* generic container (i.e. div) for floating buttons */
        overflow: hidden !important;
        width: 100% !important;
      }

      body {
          padding-bottom: 20px;
          padding-top: 20px;
      }
      .header, .marketing, .footer {
          padding-left: 15px;
          padding-right: 15px;
      }
      .header {
          border-bottom: 1px solid #e5e5e5;
      }
      .header h3 {
          line-height: 40px;
          margin-bottom: 0;
          margin-top: 0;
          padding-bottom: 19px;
      }
      .footer {
          border-top: 1px solid #e5e5e5;
          color: #777;
          padding-top: 19px;
      }
      @media (min-width: 768px) {
      .container {
          max-width: 730px;
      }
      }
      .container-narrow > hr {
          margin: 30px 0;
      }
      .jumbotron {
          border-bottom: 1px solid #e5e5e5;
          text-align: center;
      }
      .jumbotron .btn {
          font-size: 21px;
          padding: 14px 24px;
      }
      .marketing {
          margin: 40px 0;
      }
      .marketing p + h4 {
          margin-top: 28px;
      }
      @media screen and (min-width: 768px) {
        .header, .marketing, .footer {
            padding-left: 0;
            padding-right: 0;
        }
        .header {
            margin-bottom: 30px;
        }
        .jumbotron {
            border-bottom: 0 none;
        }
      }
      .demo-container {
        box-sizing: border-box;
        width: 100%;
        height: 450px;
        padding: 20px 15px 15px 15px;
        margin: 15px auto 30px auto;
        border: 1px solid #ddd;
        background: #fff;
        background: linear-gradient(#f6f6f6 0, #fff 50px);
        background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
        background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
        background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
        background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
        box-shadow: 0 3px 10px rgba(0,0,0,0.15);
        -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
      }

      .demo-placeholder {
        width: 100%;
        height: 100%;
        font-size: 14px;
        line-height: 1.2em;
      }
    </style>

</head>

  <body>

    <div class="container">
      <div class="header">
<!--         <nav>
          <ul class="nav nav-pills pull-right">
            <li class="active" role="presentation"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav> -->
        <h3 class="text-muted">Prediksi Interaksi pada Twitter</h3>
      </div>

      <div class="well">
        <form class="form-inline">
          <div class="form-group">
            <div>Parameter : </div>
          </div>

          <div class="form-group">
            <select class="form-control" name="id-buzzer" id="id-buzzer"> 
              <option value="-1">Pilih Buzzer</option>
              <option value="0">@Raisa6690</option>
              <option value="1">@cumannanya</option>                  
              <option value="2">@PartaiSocmed</option>
              <option value="3">@ernestprakasa</option>
            </select>
          </div>
           <div class="form-group">
            <select class="form-control" name="id-model" id="id-model"> 
              <option value="-1">Pilih Tagar</option>
              <option value="0">#bebasLembab</option>
              <option value="1">#pestaKeluargaErtiga</option>                  
              <option value="2">#jkw4p</option>
              <option value="3">#heartToHeart</option>
            </select>
          </div>
          <button type="button" class="btn btn-default fetchSeries">Proses</button>
        </form>
        <hr/>
        <p>Data baru?</p>
        <form class="form-inline">
          <div class="form-group">
            <div>Parameter : </div>
          </div>

          <div class="form-group">
           <input type="text"  class="form-control" placeholder="Nama Buzzer"/>
          </div>
           <div class="form-group">
            <input type="text" class="form-control" placeholder="Tagar"/>
          </div>
          <button type="button" class="btn btn-default fetchSeries">Proses</button>
        </form>
        <hr/>
        <h5>Jam Mulai Prediksi : <strong><span id="start">00:00:00</span></strong> sampai <strong><span id="end">00:00:00</span></strong></h5>
        <h5>Grafik Prediksi Interaksi Satu Jam Kedepan (Per 10 Menit)</h5>
        <div class="demo-container">
          <div id="placeholder" class="demo-placeholder"></div>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2015</p>
      </footer>

    </div> <!-- /container -->
    
    <script language="javascript" type="text/javascript" src="/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery.flot.label.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('#id-buzzer').change(function(){
          var id = $(this).val();

          $.ajax({
            url: '/prediction/listHashtag?idUser=' + id,
            success: function(data){
              var html = '<option value="-1">Pilih Tagar</option>';
              for(var i=0;i<data.length;i++){
                html += '<option value='+data[i].id+' start="'+data[i].s+'" end="'+data[i].e+'">'+data[i].label+'</option>';
              }
              $('#id-model').html(html);
            }
          });

          var s = $('#id-model').find(":selected").attr('start');
          var e = $('#id-model').find(":selected").attr('end');
          $('#start').html(s);
          $('#end').html(e);
        });

        $('#id-model').change(function(){
          var s = $('#id-model').find(":selected").attr('start');
          var e = $('#id-model').find(":selected").attr('end');
          $('#start').html(s);
          $('#end').html(e);
        });
      });


      $(function() {

        var options = {
          lines: {
            show: true
          },
          points: {
            show: true
          },
          xaxis: {
            tickDecimals: 0,
            tickSize: 1
          },
          axisLabels: {
            show: true
          },
          xaxes: [{
              axisLabel: 'Waktu (Per 10 Menit)',
          }],
          yaxes: [{
              axisLabel: 'Jumlah Interaksi',
          }]
        };

        var data = [];

        $.plot("#placeholder", data, options);

        // Fetch one series, adding to what we already have

        var alreadyFetched = {};

        $("button.fetchSeries").click(function () {

          var button = $(this);

          // Find the URL in the link right next to us, then fetch the data

          var selectedModel = $('#id-model').find(":selected").val();

          if(selectedModel < 0) {
            var dataurl = "/data-eu-gdp-growth.json";
          } else {
            var dataurl = "/prediction?idModel=" + selectedModel;
          }

          function onDataReceived(rawseries) {

            // Extract the first coordinate pair; jQuery has parsed it, so
            // the data is now just an ordinary JavaScript object
            var series = {'label':'Prediksi Jumlah Interaksi', data : []};
            for (var i = 0; i < rawseries.length; i++) {
              series.data[i] = [i+1,rawseries[i]];
            };

            var firstcoordinate = "(" + series.data[0][0] + ", " + series.data[0][1] + ")";
            button.siblings("span").text("Fetched " + series.label + ", first point: " + firstcoordinate);

            // Push the new data onto our existing data array

            // if (!alreadyFetched[series.label]) {
            //   alreadyFetched[series.label] = true;
            //   data.push(series);
            // }
            data = [];
            $.plot("#placeholder", data, options);


            data.push(series);
            $.plot("#placeholder", data, options);
          }

          $.ajax({
            url: dataurl,
            type: "GET",
            dataType: "json",
            success: onDataReceived
          });
        });

        // Initiate a recurring data update

        $("button.dataUpdate").click(function () {

          data = [];
          alreadyFetched = {};

          $.plot("#placeholder", data, options);

          var iteration = 0;

          function fetchData() {

            ++iteration;

            function onDataReceived(series) {

              // Load all the data in one pass; if we only got partial
              // data we could merge it with what we already have.

              data = [ series ];
              $.plot("#placeholder", data, options);
            }

            // Normally we call the same URL - a script connected to a
            // database - but in this case we only have static example
            // files, so we need to modify the URL.

            $.ajax({
              url: "data-eu-gdp-growth-" + iteration + ".json",
              type: "GET",
              dataType: "json",
              success: onDataReceived
            });

            if (iteration < 5) {
              setTimeout(fetchData, 1000);
            } else {
              data = [];
              alreadyFetched = {};
            }
          }

          setTimeout(fetchData, 1000);
        });

        // Load the first series by default, so we don't have an empty plot

        $("button.fetchSeries:first").click();
      });

    </script>
</body>
</html>